<div class="container form">
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5 style-button bare">Rapport financier</button>
        <button class="btn btn-lg mx-5  style-button bare">Rapport par caissier</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5   style-button bare">Rapport groupe</button>
        <button class="btn btn-lg mx-5   style-button bare">Rapport par article</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5 style-button bare">Rapport caissier cumulé</button>
        <button class="btn btn-lg mx-5  style-button bare">Rapport par caissier indviduel</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5  style-button bare">Rapport par caissier/article</button>
        <button class="btn btn-lg mx-5  style-button bare">Rapport retour par article</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5  style-button bare">Rapport par groupe par article</button>
        <button class="btn btn-lg mx-5  style-button bare">Rapport par heure </button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5  style-button bare">Rapport par client</button>
        <button class="btn btn-lg mx-5  style-button bare">Solde Par client</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5  style-button bare">Motif de retour</button>
        <button class="btn btn-lg mx-5  style-button bare">Motif de prelevements</button>
    </div>
    
</div>
