<div class="pop">
    
    <div class="input-group">
        <div class="container inputt">
            <button type="button" class="bi bi-info-circle-fill btn ms-1 style-button" (click)="showedinput()">Delete by Code </button>
            <div class="" *ngIf="showed">
            
                  <input type="text" [(ngModel)]="code_pro" class="form-control" id="inputPassword" placeholder="Code Produit">
                  <button class="bi bi-info-circle-fill btn ms-1 style-button valid"  (click)="submit()">Validé</button>
                
            

 </div>
        </div>
      
    </div>
    
</div>